<div class="container-signin">
    
        <div class="container-form">
        <form>
            <div class="container-control">
                <span nz-icon nzType="login" nzTheme="outline"></span>
                <h3>LOGINnn</h3>
            </div>
            <div class="container-control">
                <input type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Email" autofocus/>
            </div>
            <div class="container-control">
                <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Password">
            </div>
            <div class="container-control">
                <button (click)="signin()">SignIn</button>
            </div>
        </form>
    </div>
      
</div>
