<nz-layout>
  <nz-header class="menu-header">
    <div class="logo">
      <img src="./../assets/logos/servicentro.png" class="img-logo" alt="">
    </div>
    <div class="container-menu">
      <app-top-menu></app-top-menu>
    </div>
    <div class="container-account">
      <nz-button-group>
        <ng-container *ngIf="!authService.loggedIn(); else showName">
          <button nz-button ><a routerLink="/signin">Login</a></button>
        </ng-container>
        <ng-template #showName>
          <button nz-button>
            <app-name-user></app-name-user>
          </button>
        </ng-template>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
          <span nz-icon nzType="user" nzTheme="outline"></span>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <ul nz-menu>
          <ng-container *ngIf="!authService.loggedIn(); else logged ">
            <li nz-menu-item ><a routerLink="/signin"><span nz-icon nzType="login" nzTheme="outline"></span>&nbsp;Login</a></li>
            <li nz-menu-item><a routerLink="/signup"><span nz-icon nzType="usergroup-add" nzTheme="outline"></span>&nbsp;Registrar</a></li>
          </ng-container>
          <ng-template #logged>
            <li nz-menu-item ><a (click)="authService.logout()"><span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;Salir</a></li>
            <li nz-menu-item ><a ><span nz-icon nzType="profile"  nzTheme="outline"></span>&nbsp;Cuenta</a></li>
          </ng-template>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light" *ngIf="authService.loggedIn()">
      <app-left-menu></app-left-menu>
    </nz-sider>
    <nz-layout class="inner-layout">
      <!--nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb-->
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>