//estilos plantillas principal
.logo {
  width: 120px;
  height: 31px;
  margin: 0 30px 16px 0;
  float: left;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

/* ESTILOS LOGO */
.img-logo{
  width: 5em;
  height: 5em;
}

nz-button-group {
  margin: 0 8px 8px 0;
}

/*styles user account*/
.container-account{
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1rem;
}

.container-menu{
  width: 80%;
}

/* styles header menu */
.menu-header{
  display: flex;
  flex-direction: row;
}