.container-signup{
    width: 100%;

}
.container-form{
    width: 30%;
    padding: 0.8rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e6f5ff;
    border-radius: 0.3rem;
}
.container-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; 
}

.container-control button{
    margin: 0.5rem;
    width: 30%;
    color: white;
    background-color: #001529;
    border-radius:0.3rem;
}

button:hover{
    color: #001529;
    background-color: E6F5FF;
}

.error-control{
    margin-left: 0.5rem;
}
.container-form input{
    width: 100%;
    height: 2rem;
    margin-top: 0.3rem;
    margin-left: 5px;
    border-radius: 0.3rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1rem;
}
.container-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-form > *{
    margin-bottom: 10px;
}